---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Works with popular technologies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="simple-icons:wordpress" />
    <Icon class="h-8 md:h-12" name="simple-icons:amazons3" />
    <Icon class="h-8 md:h-14" name="simple-icons:googledrive" />
    <Icon class="h-8 md:h-16" name="simple-icons:microsoftonedrive" />
    <Icon class="h-8 md:h-12" name="simple-icons:amazonaws" />
    <Icon class="h-8 md:h-12" name="simple-icons:googlecloud" />
    <Icon class="h-8 md:h-12" name="simple-icons:digitalocean" />
    <Icon class="h-8 md:h-12" name="simple-icons:alibabacloud" />
  </div>
</div>
